.grid-container {
    grid-template-columns: 2rem 5rem 2rem 1fr 2rem 5rem 2rem;
    grid-template-rows: 5rem 5rem 10rem 1fr 2rem 4rem 1.5rem;
    grid-template-areas:
        ". . . . . . ."
        ". . . header . home ."
        ". . . info . . ."
        ". . . form . . ."
        ". . . . . . ."
        "footer . . . . . ."
        ". . . . . . ."
}

#new-type {
    grid-area: select;
    padding: 0 2rem 0 2rem;
    font-size: 2rem;
    visibility: hidden;
    z-index: 2;
    transition-duration: 0.2s;
}

#save-type {
    grid-area: add;
    visibility: hidden;
    z-index: 2;
}

#save-type img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    transition-duration: 0.2s;
}

#save-type:hover img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.75rem;
    filter: invert(100%) drop-shadow(0.5rem 0.5rem rgba(0,0,0,0.2));
}

#info {
    display: flex;
    grid-area: info;
    visibility: hidden;
    min-width: 10rem;
    font-size: 1.5rem;
    justify-content: center;
    justify-items: center;
    z-index: 1;
    height: 5rem;
    align-self: center;
}

#info.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s, 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#info span {
    text-align: center;
    align-self: center;
    justify-self: center;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5.5rem; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5.5rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 5.5rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 5.5rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.header:hover {
    cursor:default;
}

.form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 2rem 5rem;
    grid-template-rows: 5rem 2rem 5rem 2rem 5rem 2rem 5rem 2rem 5rem;
    grid-template-areas:
        "select . add"
        ". . ."
        "text . ."
        ". . ."
        "number . ."
        ". . ."
        "date . ."
        ". . ."
        "submit . .";
    row-gap: 1rem;
}

#add-type {
    grid-area: add;
}

#add-type img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    transition-duration: 0.2s;
}

#add-type:hover img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.75rem;
    filter: invert(100%) drop-shadow(0.5rem 0.5rem rgba(0,0,0,0.2));
}

#Type {
    grid-area: select;
    grid-column: 1 / span 1;
}
#desc {
    grid-area: text;
    grid-column: 1 / span 3;
}
#amnt {
    grid-area: number;
    grid-column: 1 / span 3;
}
#date {
    grid-area: date;
    grid-column: 1 / span 3;
}
#submit {
    grid-area:submit;
    grid-column: 1 / span 3;
}

.home {
    grid-area: home;
}

.home img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    transition-duration: 0.2s;
}

.home:hover img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.75rem;
    filter: invert(100%) drop-shadow(0.5rem 0.5rem rgba(0,0,0,0.2));
}

input[type=text], input[type=number], select, input[type=submit], input[type=date] {
    padding: 0 2rem 0 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 1rem 1rem rgba(20,20,20,0.4);
    transition-duration: 0.2s;
}

input:focus, select:focus {
    outline: 2px solid rgba(0,0,0,1);
}

input[type=submit] {
    background-color: #fff;
}

input[type=text]:hover, input[type=number]:hover, select:hover {
    box-shadow: 1.1rem 1.1rem 0.2rem rgba(20,20,20,0.4);
    border: 1px solid rgba(0,0,0,1);
    background: #eee;
}

select {
    cursor: pointer;
}

input[type=submit]:hover {
    cursor: pointer;
    font-size: 3rem;
    box-shadow: 1.1rem 1.1rem 0.2rem rgba(20,20,20,0.4);
    background: rgba(100,100,100,1);
    border: 2px solid rgba(0,0,0,1);
    text-shadow: 0.5rem 0.5rem rgba(0,0,0,0.2);
    color: white;
    z-index: 2;
}