.button {
    height: 4rem;
    width: 20rem;
    background: #fff;
    font-size: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 1rem 1rem rgba(20,20,20,0.4);
    transition-duration: 0.2s;
    text-transform: lowercase;
    align-self: flex-start;
    justify-self: flex-start;
}

.button:hover {
    cursor:pointer;
    font-size: 2rem;
    box-shadow: 1.1rem 1.1rem 0.2rem rgba(20,20,20,0.4);
    background: rgba(100,100,100,1);
    border: 2px solid rgba(0,0,0,1);
    text-shadow: 0.5rem 0.5rem rgba(0,0,0,0.2);
    color: white;
    z-index: 2;
}

.grid-container {
    
}